@{
    string email = "";
    if (Session["email"] != null)
    {
        email = Session["email"].ToString();
    }
}
<!DOCTYPE html>
<html>
<head>
</head>
<body>

    @RenderBody()
    <!--footer-->
    <div class="text-center">
        <div class="credits">
            <p>&copy; 2020 Project manager. All rights reserved | Design by <a href="#">Hoang Phuong Anh</a></p>
        </div>
    </div>
    <!--//footer-->
</body>
</html>